.conteudo{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 70px;
}

.noticias{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.principal{
    width: 480px;
    height: 350px;
    background-color: rgb(211, 201, 187);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.conteudo1{
    width: 155px;
    height: 200px;
    background-color: rgb(131, 113, 86);
    margin: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.noticias p{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.esporte{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.conteudo2{
    width: 225px;
    height: 160px;
    background-color: rgb(53, 218, 108);
   
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 5px;
}

.famosos{
    display: flex;
    flex-direction: column;
    width: 270px;
}
.conteudo3{
    width: 255px;
    height: 160px;
    background-color: rgb(218, 53, 182);
   
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 5px;
}

.entreternimento{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}

#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(243, 144, 52);
    font-weight: bolder;
}

.curta{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.conteudo4{
    width: 230px;
    height: 160px;
    background-color: rgb(214, 160, 44);
   
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 5px;
}

.destaques{
    display: flex;
    flex-wrap: wrap;  
}

.jornalismo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.jor{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 2em;
    font-weight: bolder;
    width: 240px;
}
.jor hr{
    color: red;
    border: solid;
}
.conteudo5{
    width: 280px;
    height: 160px;
    background-color: rgb(236, 25, 113);
    margin: 10px;
    margin-top: 25px;
    border-radius: 10px;

}

.sport{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30px;
}
.esp{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(21, 161, 91);
    font-size: 2em;
    font-weight: bolder;
}
.esp hr{
    color: green;
    border: solid;
}
.conteudo6{
    width: 280px;
    height: 160px;
    background-color: rgb(6, 92, 24);
    margin: 10px;
    margin-top: 25px;
    border-radius: 10px;

}

.famoso{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30px;
}
.fam{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243, 116, 58);
    font-size: 2em;
    font-weight: bolder;
    margin-left: 30px;
}
.fam hr{
    color: rgb(226, 110, 15);
    border: solid;
}
.conteudo7{
    width: 280px;
    height: 160px;
    background-color: rgb(77, 46, 7);
    margin: 10px;
    margin-top: 25px;
    border-radius: 10px;

}